body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 252);
    text-align: center;
    margin:auto;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}


#deseosContainer {
    margin-top: 20px;
    text-align: left;
}

.deseo {
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
    animation: fadein 0.5s; /* Agregamos la animación de desvanecimiento */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* clou-deseos.component.css */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .loading-message {
    font-size: 20px;
  }
  