/* banner */
#banner-container{
	background-color: rgb(112, 13, 13);
	color: rgb(255, 254, 228) !important;
	padding-top: 30px;
	padding-bottom: 20px;
}

#banner-row a{
	background-color: rgb(255, 254, 228) !important;
	color: #000 !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px; 
}

#banner-row h3,p{
    color: rgb(255, 254, 228);
	padding-left: 10px;
	text-align: center;
}
#banner-col{
	padding-left: 20px;
}