/* footer.component.css */

/* Estilos generales */
#banner-container {
    background-color: #700d0d;
    color: rgb(255, 254, 228) !important;
    padding-top: 30px;
    padding-bottom: 20px;
}

#banner-row a {
    background-color: rgb(255, 254, 228) !important;
    color: #000 !important;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}

#banner-row h3,
#banner-row p {
    color: rgb(255, 254, 228);
    padding-left: 10px;
    text-align: center;
}

/* Estilos específicos para pantallas pequeñas (por ejemplo, teléfonos) */
@media screen and (max-width: 767px) {
    #footer-col1,
    #footer-col2 {
        margin-bottom: 20px;
    }

    #banner-row {
        flex-direction: column;
    }

    #banner-row a {
        margin-top: 0;
        margin-left: 0;
    }
}
#footer-col2 p {
    margin-bottom: 5px; /* Ajusta el valor según tus necesidades */
}

#mensaje {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); /* Sombreado alrededor del recuadro de texto */
}

/* Estilos para el botón de enviar */
.btn-success:hover {
    background-color: #0e6e39 !important; /* Cambiar el color al pasar el mouse */
    border-color: #0e6e39!important;
    color: #fff !important;
}