<!-- Footer -->

<section id="social">
  <section id="banner">
    <div class="container-fluid" id="banner-container">
      <div class="row" id="banner-row">
        <div class="col-md-4" id="footer-col1">
          <h3>Nuestro Sitio Web</h3>
          <p>Un rincón virtual para expresar tus sueños más profundos,
             plasmados en una hermosa nube de palabras.
             Un espacio acogedor donde la libertad de expresión florece. ¡Expresate libremente!</p>
        </div>
        <div class="col-md-4" id="footer-col2">
          <h3>Contactanos</h3>
          <p>gcampoverdea@est.ups.edu.ec</p>
          <p>jcamachor1@est.ups.edu.ec</p>
          <p>sminob@est.ups.edu.ec</p>
        </div>
        <div class="col-md-4" id="footer-col2">
          <h3>Escribe tu sugerencia</h3>
          <form >
            <form>
              <div class="form-group">
                  <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
              </div>                           
          </form><br>
          <button type="button" class="btn btn-success">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
