@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* navbar */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	padding: 60px 0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

nav {
	text-align: right;
	padding: 30px 50px 0 0;
}

nav>a {
	color: #F8F7F7;
	font-size: 22px;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;
}

nav>a:hover {
	/* Cuando se pasa el mouse por encima*/
	text-decoration: underline;
}

.titulo {
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
}

header {
	width: 100%;
	height: 400px;
	background: -webkit-linear-gradient(to top, hsla(0, 95%, 17%, 0.062),
			hsla(0, 94%, 13%, 0.123), hsla(0, 95%, 17%, 0.123)),
		url(../../../assets/cri.jpg);
	background: linear-gradient(to top, hsla(0, 95%, 17%, 0.062),
			hsla(0, 94%, 13%, 0.123), hsla(0, 95%, 17%, 0.123)),
		url(../../../assets/cri.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	position: relative;
}

header .texto-header {
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
body{
	margin-top: -50px;
	background-color: rgb(53, 114, 77);
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/*boton de ida*/
a{
	margin-left: 200px;
	position: relative;
	background: rgb(27, 66, 43);
	color: rgb(255, 254, 228) ;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	padding: 10px 30px;
	transition: 0.5s;
}
a:hover{
	letter-spacing: 0.25em;
	background: var(--clr);
	color:var(--clr);
	box-shadow: 0 0 45px var(--clr);
}
a::before{
	content: '';
	position: absolute;
	inset: 2px;
	background: rgb(27, 66, 43);
}
a span{
	position: relative;
	z-index: 1;
}
a i {
	position: absolute;
	inset: 0;
	display: block;
}
a i::before{
	content: '';
	position: absolute;
	top:-3.5px;
	left: 80%;
	width: 10px;
	height: 5px;
	border: 2px solid var(--clr);
	background: rgb(27, 66, 43);
	transition: 0.5s;
}
a:hover i::before{
	width: 20px;
	left: 20%;
}
a i::after{
	content: '';
	position: absolute;
	bottom:-3.5px;
	left: 20%;
	width: 10px;
	height: 5px;
	border: 2px solid var(--clr);
	background: rgb(27, 66, 43);
	transform: translateX(-50%);
	transition: 0.5s;
}
a:hover i::after{
	width: 20px;
	left: 80%;
}

.neon-text {
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: 130px;
	cursor: pointer;
	transition: .3s linear;
	color: transparent;
	-webkit-text-stroke: 2px rgb(212, 175, 55);
	background-image: linear-gradient(to left, rgb(212, 175, 55),
			rgb(233, 191, 53), rgb(192, 192, 192), rgb(119, 113, 113));
	background-size: 200%;
	-webkit-background-clip: text;
	animation: move 20s linear infinite;
}

@keyframes move {
	100% {
		background-position: 2000px 0;
	}
}

.neon-text:hover {
	color: rgb(212, 175, 55);
	text-shadow: 0 0 10px rgba(204, 169, 54, 0.541),
		0 0 20px rgba(204, 169, 54, 0.541),
		0 0 40px rgba(204, 169, 54, 0.541),
		0 0 80px rgba(204, 169, 54, 0.541),
		0 0 160px rgba(204, 169, 54, 0.541),
		0 0 320px rgba(204, 169, 54, 0.541);
}

.slide {
	background-size: 100% 100%;
	top: 50%;
	left: 50%;
	margin-left: 50px;
	width: 600px;
	height: 380px;
	border-radius: 10px;
	animation: slide 10s infinite linear;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

@keyframes slide {
	0% {
		background-image: url(../../../assets/noel.png);
	}

	25% {
		background-image: url(../../../assets/feliz.jpg);
	}

	75% {
		background-image: url(../../../assets/banner.png);
	}

	100% {
		background-image: url(../../../assets/noel.png);
	}
}

.imagen {
	width: 50%;
	margin-left: 70px;
	margin-right: 100px;
	margin-bottom: 50px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.card {
	margin-top: 50px;
	margin-left: 150px;
	margin-right: -100px;
	background-color: rgb(255, 254, 228) ;
}

/* about us */
#about {
	background-color: rgb(53, 114, 77);
}
#about h1{
	color: rgb(226, 189, 66);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: 3px;
}
#about-col p {
	margin-top: 15px;
	margin-left: 100px;
	margin-right: -40px;
	font-size: 25;
	font-family:Arial, Helvetica, sans-serif ;
	text-align: justify;
	color: rgb(255, 254, 228);
}

#about img {
	margin-top: 15px;
	height: 250px;
	width: 300px;

}