<header>
    <section class="texto-header">
        <h1 class="neon-text">Deseos</h1>

    </section>
</header>

<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Carrusel a la izquierda -->
            <div class="col-md-6">
                <section class="continfo">
                    <br>
                    <!-- Placeholder para el contenido del carrusel -->
                    <div class="slide"></div>
                </section>
            </div>

            <!-- Formulario a la derecha -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ingresa tu Deseo</h5>
                        <form>
                            <div class="form-group">
                                <textarea [(ngModel)] = "deseo_in" class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                            </div>
                            <button type="button" (click)="registrarDeseo();" class="btn btn-success" routerLink="">Enviar</button>
                        </form>                 
                    </div>                
                </div><br><br>
                <div class="text-center mt-3">
                    <a href="#" style="--clr:#6eff3e" routerLink="/clou-deseos"><span>Nube de Deseos</span><i></i></a>
                </div>
            </div> 
        </div>
    </div>
    <br>
</body>


<!-- about us -->
<section id="about">
    <h1 class="text-center">Acerca de Nosotros</h1>
    <div class="container-fluid" id="about-container">
        <div class="row" id="banner-row">
            <div class="col-md-5" id="about-col">
                <p>Somos estudiantes del séptimo semestre de la carrera de Ingeniería
                    en Ciencias de la Computación. Nos apasiona el mundo de la tecnología y
                    estamos comprometidos con la búsqueda constante del conocimiento en este fascinante campo.
                </p>
                <p>Nos esforzamos por mantenernos actualizados con las últimas tendencias tecnológicas y
                    estamos emocionados por contribuir al avance de la computación. </p>
            </div>
            <div class="col-md-7" id="banner-col2">
                <img src="assets/arbol.png" class="img-fluid rounded mx-auto d-block">
            </div>

        </div>
    </div><br>
</section>